@charset "utf-8";
*{ margin: 0;padding: 0;}
body{
	background: #f7f7f7;
	font-family: Microsoft YaHei,Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
}
ul,li{
	list-style: none;
}
img{
	border: 0;
}
a{
	font-size: 12px;
	text-decoration: none;
	color: #666;
}
.clearfix:after{
	content: '.';
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
}
.clearfix{
	zoom: 1;
}
.hide{
	display: none;
}

$reg_bg: url(../images/register.png) no-repeat;
$main_bg: #f7f7f7;
$reg_width: 1000px;
$fm_st: 宋体;

/* header */
#header{
	width: 100%;
	background: #fff;
}
.header_con{
	width: $reg_width;
	margin: 0 auto;
	padding: 18px 0 13px 0;
	overflow: hidden;
	h1{
		width: 115px;
		float: left;
	}
	ul{
		width: 405px;
		float: right;
		background: $reg_bg 70px 0;
		padding-top: 50px;
		overflow: hidden;
		li{
		    width: 95px;
		    font-size: 14px;
            float: left;
            text-align: right;
            margin-left: 40px;
	    }
	}
	
}
/* main */
#main{
	width: 100%;
	border-top: #e6e6e6 4px solid;
	background:$main_bg;
	padding-top: 50px;
}
.main_con{
	width: $reg_width;	
	margin: 0 auto;
	background: url(../images/register_bg.jpg) no-repeat left top;
	min-height: 650px;
	overflow: hidden;
}
/* register */
#register{
	width: 430px;
	float: right;
	overflow: hidden;
	h2{
		padding-left: 90px;
		font-size: 24px;
		color: #333;
		line-height: 40px;
		font-weight: normal;
		position: relative;
		margin-bottom: 25px;
		span{
			position: absolute;
			display: inline-block;
			right: 0;
			top: 5px;
			color: #666;
			font-size: 12px;
			a{
				color:#c9a833;
				&:hover{text-decoration: underline;}
			}
			b.reg_icon{
				width: 18px;
				height: 18px;
				background: $reg_bg -158px -91px;
                display: inline-block;
                vertical-align: -4px;
                margin:0px 3px 0px 10px;
			}
			b.log_icon{
				width: 16px;
				height: 16px;
				background: $reg_bg 0 -248px;
                display: inline-block;
                vertical-align: -3px;
                margin:0px 3px 0px 10px;
			}
		}
	}
	dl{
		width: 100%;
		font-family: $fm_st;
		dt{
			width: 90px;
			float: left;
			height: 40px;
			line-height: 40px;
			text-align: right;
			font-size: 14px;
			padding-bottom: 24px;
		}
		dd{
			width: 340px;
			float: left;
			position: relative;
			padding-bottom: 24px;
			
		}
		dd.pd{
	       padding-bottom:45px;
        }
        dd.lg{
	       width: 310px;
        }
        dt.lg{
        	width: 120px;
        }
	}
	
}
.inpt_con{
	width: 340px;
}
.inpt_con0{
	width: 207px;
	float: left;
}
.inpt_con01{
	width: 310px;
}
.inpt_con02{
	width: 170px;
	float: left;
}
.inpt_con,.inpt_con0,.inpt_con01,.inpt_con02{
	height: 38px;
	background: #fff;
	position: relative;
		
}
.yz_pic{
	width: 120px;
	padding-left: 13px;
	float: left;
	a{
		padding-left: 3px;
		vertical-align: 12px;
		color: #1769bd;
		&:hover{ text-decoration: underline;}
	}	
}
.phone_yzm,.phone_yzm0{
	text-align: center;
	height: 38px; 
	border: #d9d9d9 1px solid;
	border-radius: 2px;	
	float: left;
	line-height: 38px;
	background: #fff;
	margin-left: 13px;
}
.phone_yzm0{
  width: 133px;
}
.phone_yzm{
  width: 118px;
}

.safe{
	width: 250px;
	position: absolute;
	left: 0;
	bottom: 4px;
	span{
		width: 60px;
		height: 16px;
		text-align: center;
		line-height: 16px;
		color: #fff;
		display:inline-block;
		margin-right: 1px;
		background: #ddd;
	}
	span.low{
	    background: #ff0000;
    }
    span.zhong{
    	background:#f1d123;
    }
    span.high{
    	background:#53f123;
    }
}

.icon_zh{
	width: 16px;
	height: 17px;
	background: $reg_bg -50px -90px;
	position: absolute;
	left: 9px;
	top: 10px;
}
.icon_zh0{
	background-position: 0px -90px;
}
.icon_pwd{
	width: 16px;
	height: 17px;
	background: $reg_bg -50px -120px;
	position: absolute;
	left: 9px;
	top: 10px;
}
.icon_pwd0{
	background-position: 0px -120px;
}
.icon_mm{
	width: 16px;
	height: 16px;
	background: $reg_bg -49px -157px;
	position: absolute;
	left: 9px;
	top: 10px;
}
.icon_mm0{
	background-position: 0px -157px;
}
.icon_right{
	width: 15px;
	height: 16px;
	background: $reg_bg -247px -90px;
	position: absolute;
	right: 9px;
	top: 12px;
	display: none;
}
.icon_error{
	width: 14px;
	height: 16px;
	background: $reg_bg -208px -90px;
	position: absolute;
	right: 9px;
	top: 12px;
	display: none;
}
.inpt_text,.inpt_text01{
	padding: 0px 20px 0px 35px;
	border: 0;
	height: 38px;
	color: #666;
	border: #d9d9d9 1px solid;
	border-radius: 2px;
}
.inpt_text{
	width: 283px;
}
.inpt_text01{
	width: 253px;
}
.inpt_text0,.inpt_text02{
	padding-right: 20px;
	border: 0;
	height: 38px;
	padding-left: 10px;
	color: #666;
	border: #d9d9d9 1px solid;
	border-radius: 2px;
}
.inpt_text0{
	width: 178px;
}
.inpt_text02{
	width: 138px;
}
.error_con{
	width: 340px;
	position: absolute;
	left: 0;
	top: 45px;
}
#sub_btn,#sub_btn0{
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background: #c9a833;
	border-radius: 2px;
	border-width: 0;
	font-family: $fm_st;
	cursor: pointer;
}
#sub_btn{
	width: 210px;
}
#sub_btn0{
	width: 310px;
}

.ml{
	margin-top:10px;
	a{
		color: #1769bd;
		&:hover{ text-decoration: underline;}
	 }
}
.ml0{
	margin-top:25px;
	color: #999;
	a{
		color: #1769bd;
		margin-left: 148px;
		&:hover{ text-decoration: underline;}
	 }
	 input{
	 	vertical-align: -2px;
	 	margin-right: 5px;
	 }

}

/* footer */
#footer{
	width: $reg_width;
    border-top: #e6e6e6 1px solid;
    padding: 20px 0px 100px 0px;
    margin: 0 auto;
    text-align: center;
    line-height: 24px;
    color: #999;
    font-family: $fm_st;
    a{
    	color: #999;
    	margin: 0 10px;
    }
    .copy{
    	color: #ccc;
    }
}
/* footer */
.main_con0{
	width: $reg_width;	
	margin: 0 auto 100px;
	min-height: 550px;
	overflow: hidden;
}

.success{
	width: $reg_width;
	height: 160px;
	background: #f0ffe9;
	position: relative;
	h2{
		font-size: 24px;
		color: #333;
		padding: 50px 0px 0px 90px; 
		line-height: 40px;
	}
	.suc_right{
		width: 42px;
		height: 42px;
		position: absolute;
		left: 33px;
		top: 50px;
		background: $reg_bg 0 -188px;
	}
	p{
		font-size:14px;
		padding: 13px 0px 0px 90px;
	}
	.shopping{
		width: 93px;
		height: 42px;
		background: $reg_bg -134px -188px;
		padding-left: 20px;
		line-height: 42px;
		font-weight: bold;
		font-weight: $fm_st;
		position: absolute;
		top: 60px;
		right: 80px;
		a{
           color: #fff;
		   font-size: 14px;
		   display: inline-block;
		}
	}
}
.yangzheng{
	width: $reg_width;
	background: #fff;
	overflow: hidden;
	padding-bottom: 70px;
}
.yangzheng_con{
	width: 950px;
	margin: 0px 25px;
	padding:70px 0px 45px;
	overflow: hidden;
	dl{
		width: 100%;
		height: 40px;
		margin-bottom: 25px;
		font-family: $fm_st;
		dt{
			width: 265px;
			text-align: right;
			float: left;
			font-weight: bold;
            line-height: 40px;
            padding-right: 10px;
		}
		dd{
			float: left;
			width: 675px;	
			position: relative;
		}
	}
}
.bd{
	border-bottom: #e6e6e6 1px dashed;
}
.suc_con,.suc_con0{
	position: relative;
	float: left;
	height: 40px;
}
.suc_con{
	width: 340px;
}
.suc_con0{
    width: 192px;
}
.suc_inp,.dx_inp{
	padding-left: 13px;
	border: #d9d9d9 1px solid;
	border-radius: 2px;
	height: 38px;
	line-height: 38px;
}
.suc_inp{
	width: 325px;
}
.dx_inp{
	width: 177px;
}
.suc_btn{
	width: 120px;
	float: left;
	margin-left: 10px;
	border-radius: 2px;
	background: #c9a833;
	cursor: pointer;
	border: 0;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
}
.yz_email{
	width: 670px;
	margin: 0px 25px;
	padding:70px 0px 45px 280px;
	overflow: hidden;
	position: relative;
	line-height: 30px;
	.send{
		font-size: 16px;
		color: #2b8500;
	}
	a.btn{
		width: 110px;
		height: 30px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        display: inline-block;
        margin-right: 30px;
        background: #c9a833;
        border-radius: 2px;
	}
	.text{
		color: #999;
		margin-top: 10px;
		font-family: $fm_st;
	}
	a.re{
		color: #1769bd;
		margin: 0 6px;
	}
	a.fs{
		color: #666;
		margin: 0 6px;
		width: 108px;
		border: #d9d9d9 1px solid;
		text-align: center;
		line-height: 22px;
		display: inline-block;
	}
}
.fj_icon{
	width: 29px;
	height: 25px;
	position: absolute;
	left: 235px;
	top: 70px;
	background: $reg_bg -69px -188px;
}
.yz_phone{
	width: 640px;
	padding: 60px 0px 100px 360px;
	overflow: hidden;
	font-size: 16px;
	color: #c9a833;
	line-height: 40px;
}
.dui_icon{
	width: 28px;
	height: 28px;
	display: inline-block;
	background: $reg_bg -268px -187px;
	margin-right: 10px;
	vertical-align: -6px;
}
.dx_btn{
		width: 110px;
		height: 30px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        display: inline-block;
        margin-right: 30px;
        background: #c9a833;
        border-radius: 2px;
        cursor: pointer;
        border: 0;
}
.login_text{
	width: 300px; 
	padding-left: 120px;
	color: #999;
	margin-top: 20px;
	line-height: 30px;
	span.line{
		margin:0px 10px;
	}
	.text{
		color: #666;
	}
	.sina,.qq,.wx{
		width: 24px;
		height: 24px;
		display: inline-block;
		margin-right:7px;
	}
	.sina{
		background: $reg_bg -27px -248px;
	}
	.qq{
		background: $reg_bg -58px -248px;
	}
	.wx{
		background: $reg_bg -89px -248px;
	}
}
