@charset "utf-8";
/* CSS Document */
@media screen and (max-width: 1200px){
	#search_top{width:980px;}
	#search_about{width:980px;}
	#search_term{width:980px;}
	#search_term dl{width:978px;}
	#search_term dl dd{width:858px;}
	#search_term dl.pp{width:974px;}
    #search_term dl.pp dd{width:856px;}
	.search_all{width:856px;}
    .search_more{width:856px;}
    .search_all_con{width:856px;}
	.search_more_con1{width:856px;}
	.search_more_con0{width:856px;}
	.search_more_con00{width:856px;}
	.search_more_con0 .con{width:856px;}
	.search_more_con0 .conr{width:801px;}
	.search_single{width:760px;}
	.search_box{width:856px;}
	.search_gd{width:760px;}
	.search_duo{width:846px;}
	#develop{width:980px;}
	.develop_con{margin:0px 340px;}
    .develop_con0{margin:0px 439px;}
	#sel_sort{width:980px;}
	.sel_store_con0{width:980px;}
	.search_big{width:980px;}
	.search_big_con{width:1012px; margin-left:-32px;}
	.search_big_con .con{margin-left:33px;}
	.like_sp{width:980px;}
    .like_sp_tit{width:980px;}
    .like_sp_con{width:1012px; margin-left:-32px;}
    .like_sp_con ul li{margin-left:33px;}
	.hide{display:hide;}
	.search_small{width:980px;}
	.search_small ul li{width:300px; margin:20px 15px 20px 10px;}
	.sel_store{width:980px;}
    .sel_store_con{width:978px;}
    .sel_store_con .tit{width:978px;}
	.sel_store_pic0{width:970px;}
	.sel_store_pic0 ul li{width:220px; margin:0px 11px;}
	.search_null{width:978px;}
	.sel_sort_fix{width:980px;}
}



