/* main */
#main{
	width: 100%;
	min-width: 1200px;
	background: #f0f0f0;
	border-top: #d3d4d4 2px solid;
	overflow: hidden;
	padding-bottom: 60px;
}
.adr_error b,.inp_icon,.adr_default b,#address_con ul li,#open_adr b,.store_icon,.exp_pay b,.zhifu dd .error_text b,.order_ticket_con0 ul li .red_radio b,.order_ticket_con0 ul li .dis_radio b,.ticket b,.order_ticket_con0 ul li .red_check b,.order_ticket_con0 ul li .dis_check b,.check_inv b,.inv_tit .radio b,.order_ticket h2 b,.order_ticket_tit li b,#pop_close{
	background:url('../images/shopcar_bg.png') no-repeat; 
	overflow: hidden;
}
/* order_main */
#order_main{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.order_tit{
	width: 1200px;
	margin-top: 8px;
	line-height: 40px;
}
.order_tit h2{
	font-size: 16px;
	overflow: hidden;
}
.order_tit a{
	margin-left: 10px;
	font-size: 12px;
	font-weight: normal;
	text-decoration: underline;
}
.order_tit a:hover{
	color: #dead00;
}
/* address */
#address{
	width: 1200px;
	padding: 25px 0 30px;
	background: #fff;
}
#address dl{
	width: 1200px;
	margin-bottom: 15px;
}
#address dl.m{
	margin-bottom: 10px;
}
#address dt{
	width: 110px;
	float: left;
	text-align: right;
	line-height: 35px;
	overflow: hidden;
	font-size: 14px;
	color: #444;
}
#address dd{
	width: 1080px;
	float: left;
	text-align: left;
	padding-left: 10px;
}
.red_star{
	color: #db2424;
	margin-right: 5px;
}
.inp_adr,.inp_qh,.inp_tel,.inp_code,.inp_adr0{
	padding-left: 10px;
	border: #c6c6c6 1px solid;
	height: 33px;
	line-height: 33px;
	float: left;
	margin-right: 10px;
	font-size: 14px;
	color: #444;
}
.inp_adr{
	width: 203px;
}
.inp_adr0{
	width: 328px;
}
.inp_icon{
	width: 15px;
	height: 8px;
	background-position: -544px 0;
	display: inline-block;
	position: absolute;
	top: 14px;
	right: 10px;
}
.inp_con{
	width: 340px;
	position: relative;
}
.inp_qh{
	width: 73px;
}
.inp_tel{
	width: 138px;
}
.inp_code{
	width: 328px;
}
.adr_text{
	padding: 3px 10px;
	border: #c6c6c6 1px solid;
	height: 84px;
	line-height: 18px;
	float: left;
	margin-right: 10px;
	width: 318px;
}
.adr_error{
	width: 300px;
	float: left;
	padding-left: 10px;
	color: #db2424;
	line-height: 35px;
}
.adr_error b{
	width: 14px;
	height: 14px;
	display: inline-block;
	margin-right: 5px;
	background-position: -330px 0;
	vertical-align: -2px;
}
.adr_default{
	cursor: pointer;

}
.adr_default input{
	display: none;
}
.adr_default b{
	width: 16px;
	height: 16px;
	background-position: -110px 0;
	display: inline-block;
	margin-right: 5px;
	vertical-align: -3px;
}
.adr_default b.checked{
	background-position: -140px 0;
}
#adr_btn{
	width: 170px;
	height: 40px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	background: #db2424;
}

#address_con{
	width: 1160px;
	background: #fff;
	padding: 20px 25px 30px 15px;
	overflow: hidden;
}
#address_con ul{
	overflow: hidden;
}
#address_con ul li{
	width: 280px;
	float: left;
	height: 160px;
	overflow: hidden;
	background-position: 0 -520px;
	margin: 0 0 10px 10px;
	display: block;
}
#address_con ul li h3{
	width: 248px;
	border-bottom: #eaeaea 1px solid;
	font-size: 16px;
	color: #666;
	position: relative;
	line-height: 28px;
	margin: 10px 16px 8px;
}
#address_con ul li .defa_adr{
	width: 64px;
	height: 16px;
	position: absolute;
	right: 0;
	top: 7px;
	line-height: 16px;
	color: #fff;
	background: #969696;
	text-align: center;
	display: block;
	border-radius: 5px;
	font-size: 12px;
	font-weight: normal;
}
#address_con ul li p{
	margin: 5px 16px;
	width: 248px;
	line-height: 18px;
	color: #666;
	position: relative;
	overflow: hidden;
}
#address_con ul li p span{
	font-weight: bold;
	color: #444;
	text-decoration: underline;
	cursor: pointer;
	position: absolute;
	top: 0;
	display: none;
}
#address_con ul li p span:hover{
	color: #dead00;
}
#address_con ul li .make{
	right: 60px;	
	width: 35px;
}
#address_con ul li .set{
	right: 0;
	width: 60px;
}
#address_con ul li:hover{
	background-position: -578px -521px;
}
#address_con ul li:hover p span{
	display: block;
}

#address_con ul li.cur{
	background-position: -292px -520px;
}
#open_adr{
	width:110px;
	font-size: 14px;
	color: #666;
	overflow: hidden;
	margin: 0 1040px 0 10px;
	cursor: pointer;
}
#open_adr b{
	width: 13px;
	height: 13px;
	display: inline-block;
	background-position: -569px -281px;
	margin-right: 5px;
}
#open_adr b.cur{
	background-position: -440px -200px;
}
/* order_store */
.order_store{
	width: 1200px;
	background: #fff;
	margin-bottom: 30px;
}
.order_store_tit{
	width: 1200px;
	color: #555;
	overflow: hidden;
	border-bottom: #eee 1px solid;
}
.order_store_tit ul li{
	float: left;
	width: 150px;
	text-align: center;
	overflow: hidden;
	height: 50px;
	line-height: 50px;
}
.order_store_tit ul li.n{
	padding-left: 25px;
	width: 510px;
	text-align: left;
}
.order_store_tit ul li.m{
	width: 100px;
}
.order_store_tit ul li.c{
	width: 155px;
}
.order_store_tit ul li.y{
	width: 260px;
}
.order_store_tit ul li a{
	font-size: 14px;
}
.order_store_tit ul li a:hover{
	color: #dead00;
}
.store_icon{
	width: 16px;
	height: 16px;
	background-position: -79px 0;
	display: inline-block;
	margin-left: 5px;
	vertical-align: -4px;
}
.order_ts{
	width: 1155px;
	padding-left: 45px;
	height: 45px;
	background: #fff2f2;
	color: #db2424;
	line-height: 45px;
}
.order_pro{
	width: 1200px;
    position: relative;
    z-index: 4;
}
.order_table{
	width: 1200px;
}
.order_table tr td{
	width: 940px;
	
}
.order_table tr td.e{
	width: 259px;
	border-left: #eee 1px solid;
}


.order_pro_table{
	width: 940px;
	float: left;
	margin-top: -1px;
}

.order_pro_table tr td{
	width: 539px;
	padding: 20px 0;
	line-height: 20px;
	overflow: hidden;
	border-top: #eee 1px solid;
}
.order_pro_table tr td.t{
	text-align: center;
	font-family: Arial;
	font-size: 14px;
	color: #343434;
}
.order_pro_table tr td.w{
	width: 150px;
}
.order_pro_table tr td.d{
	width: 100px;
	color: #999;
}
.order_pro_table tr td .par{
	color: #999;
	text-decoration: line-through;
}
.order_pro_table tr td.z{
	width: 155px;
}
.order_pic{
	width: 460px;
	overflow: hidden;
	padding-left: 25px;
}
.order_pic img{
	width: 85px;
	height: 85px;
	float: left;
}
.order_pic .con{
	width: 355px;
	padding-left: 20px;
	float: left;
	line-height: 30px;
}
.order_pic .con a{
	color: #444;
}
.order_pic .con a:hover{
	color: #dead00;
}
.order_pic .con span{
	color: #666;
	margin-right: 30px;
}

.exp_pay,.ticket{
	width: 190px;
	height: 33px;
	line-height: 33px;
	position: relative;
	border: #d6d6d6 1px solid;
    color: #444;
    padding-left: 10px;
}
.exp_pay{
	margin: 0 auto;
}
.exp_pay b,.ticket b{
	width: 17px;
	height: 8px;
	cursor: pointer;
	position: absolute;
	top: 13px;
	right: 10px;
	display: inline-block;
	background-position: -544px 0;
}
.exp_pay ul,.ticket ul{
	position: absolute;
	left: -1px;
	top: 33px;
	width: 200px;
	background: #fff;
	border: #d6d6d6 1px solid;
	z-index: 2;
	display: none;
}
.exp_pay ul li,.ticket ul li{
	width: 190px;
	padding-left: 10px;
	line-height: 35px;
	border-bottom: #eee 1px dotted;
}
.exp_pay ul li:hover,.exp_pay ul li.cur,.ticket ul li:hover,.ticket ul li.cur{
	background: #ebebeb;
}
/* order_else */
.order_else{
	width: 1150px;
	background: #fefcf6;
	padding: 25px 25px 20px;
}
.order_else_left{
	width: 875px;
	float: left;
	overflow: hidden;
}

.order_word{
	width: 875px;
	overflow: hidden;
}
.order_word .text{
	width: 55px;
	float: left;
	color: #555;
}
.order_word .con{
	width: 820px;
	float: left;
	position: relative;
}
.word_area{
	width: 485px;
	height: 54px;
	padding: 4px 10px 0;
	border: #d6d6d6 1px solid;
	background: #fff;
	text-align: left;
	line-height: 18px;
}
.word_text{
	width: 60px;
	color: #b2b1b1;
	position: absolute;
	z-index: 2;
	bottom: 3px;
	left: 460px;
	display: block;
}
.word_text em{
	font-style: normal;
}
.order_inv{
	width: 875px;
	overflow: hidden;
	color: #555;
	margin-top: 15px;
}
.check_inv{
	width: 75px;
    float: left;
}
.check_inv b{
	width: 16px;
	height: 16px;
	margin-right: 6px;
	background-position: -110px 0;
	display: inline-block;
	vertical-align: -3px;
	*vertical-align: 0;
}
.check_inv input{
	display: none;
}
.check_inv b.checked{
	background-position: -140px 0;
}
.inv_tit{
	width: 800px;
	float: left;
	display: none;
	position: relative;
}
.inv_tit span{
	float: left;
}
.inv_tit .tt{
	margin-left: 20px;
	width: 70px;
}
.inv_tit input{
	display: none;
}
.inv_tit .radio{
	width: 55px;
}
.inv_tit .radio b{
	width: 13px;
	height: 13px;
	display: inline-block;
	background-position: -808px 0;
	margin-right: 4px;
	vertical-align: -2px;
}
.inv_tit .radio b.checked{
	background-position: -837px 0;
}
.inv_tit em,.radio_area_num em{
	font-style: normal;
}
.radio_area{
	width: 265px;
	height: 44px;
	padding: 4px 10px 0;
	border: #d6d6d6 1px solid;
	background: #fff;
	text-align: left;
	line-height: 18px;
	float: left;
	display: none;
	color: #444;
}
.radio_area_num{
	width: 60px;
	position: absolute;
	bottom: 4px;
	left: 412px;
	display: none;
	color: #b2b1b1;
	text-align: right;
}

.order_else_right{
	width: 275px;
	float: left;
}
.order_else_right dl{
	margin-bottom: 15px;
}
.order_else_right dt{
	width: 65px;
	float: left;
	line-height: 35px;
	color: #555;
}
.order_else_right dt .t{
	margin-top: -18px;
	display: block;
}
.order_else_right dd{
	width: 210px;
	float: left;
}
.order_else_right dd.m{
	color: #db2424;
	font-size: 18px;
	font-weight: bold;
}
.order_else_right dd em{
	font-size: 24px;
	font-style: normal;
}
/* order_ticket */
.order_ticket{
	width: 1200px;
	overflow: hidden;
	border-bottom: #eee 1px solid;
	background: #fff;
}
.order_ticket h2{
	width: 1175px;
	padding-left: 25px;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	font-size: 14px;
	color: #444;
}
.order_ticket h2 b{
	width: 18px;
	height: 18px;
	display: inline-block;
	background-position: -472px -200px;
	margin-right: 12px;
	vertical-align: -3px;
	cursor: pointer;
}
.order_ticket h2 b.cur{
	background-position: -600px -200px;
}
.order_ticket h2 span{
	font-weight: normal;
	color: #555;
	margin-left: 20px;
}
.order_ticket h2 em{
	color: #db2424;
	font-weight: bold;
	font-style: normal;
	margin: 0 4px;
	font-size: 18px;
	font-family: Arial;
}
.order_ticket_con{
	width: 1175px;
	background: #f9f9f9;
	overflow: hidden;
	padding: 20px 0 20px 25px;
	display: none;
}
.order_ticket_tit{
	width: 1145px;
	padding-left: 30px;
}
.order_ticket_tit ul li{
	width: 120px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	background: #e9e9e9;
	font-size: 14px;
	float: left;
	margin-right: 1px;
	position: relative;
	cursor: pointer;
}
.order_ticket_tit ul li.cur{
	background: #dead00;
	color: #fff;
	font-weight: bold;
}
.order_ticket_tit ul li b{
	width: 8px;
	height: 4px;
	background-position: -566px 0;
	display: block;
	position: absolute;
	left: 55px;
	bottom: -4px;
}
.order_ticket_tit ul li em{
	font-style: normal;
	margin-left: 3px;
}
.order_ticket_con0{
    width: 1175px;
    overflow: hidden;
    display: none;    
}
.order_ticket_con0 ul{
	overflow: hidden;
	padding-left: 30px;
	width: 1145px;
	position: relative;	
}
.order_ticket_con0 ul.z{
	font-weight: bold;
	color: #666;
	font-family: 宋体;
	margin: 15px 0 5px;
}
.quxiao{
	width: 25px;
	color: #db2525;
	position: absolute;
	left: 0;
	top: 7px;
	display: block;
	text-decoration: underline;
	cursor: pointer;
}
.order_ticket_con0 ul li{
	width: 185px;
	float: left;
	line-height: 30px;
	color: #777;
}
.order_ticket_con0 ul li.t{
	width: 135px;
}
.order_ticket_con0 ul li.q{
	width: 190px;
}
.order_ticket_con0 ul li.e{
	width: 635px;
}
.order_ticket_con0 ul li input{
   display: none;
}
.order_ticket_con0 ul li .red_radio b,.order_ticket_con0 ul li .dis_radio b{
	width: 13px;
	height: 13px;
	display: inline-block;	
	margin-right: 14px;
	vertical-align: -2px;
}
.order_ticket_con0 ul li .red_radio b{
	background-position: -808px 0;
}
.order_ticket_con0 ul li .dis_radio b{
	background-position: -637px -202px;
}
.order_ticket_con0 ul li .red_radio b.checked{
	background-position: -837px 0;
}
.order_ticket_con0 ul li .red_check b,.order_ticket_con0 ul li .dis_check b{
	width: 16px;
	height: 16px;
	display: inline-block;	
	margin-right: 10px;
	vertical-align: -3px;
}
.order_ticket_con0 ul li .red_check b{
	background-position: -110px 0;
}
.order_ticket_con0 ul li .dis_check b{
	background-position: -668px -202px;
}
.order_ticket_con0 ul li .red_check b.checked{
	background-position: -140px 0;
}
.order_ticket_con0 ul li .red_radio,.order_ticket_con0 ul li .red_check{
	cursor: pointer;
}
.order_ticket_con dt{
	width: 65px;
	float: left;
	line-height: 35px;
	color: #555;
	padding-left: 30px;
}
.order_ticket_con dd{
	width: 1080px;
	float: left;
	overflow: hidden;
}
.order_ticket_con dd .inp_qm{
	width: 250px;
	padding-left: 10px;
	height: 33px;
	line-height: 33px;
	border: #d6d6d6 1px solid;
	float: left;
}
.order_ticket_con dd .use_btn{
	width: 60px;
	height: 25px;
	float: left;
	color: #fff;
	background: #dead00;
	text-align: center;
	margin: 5px 0 0 12px;
	cursor: pointer;
}
.order_ticket_con dd p{
	color: #888;
	overflow: hidden;
	line-height: 35px;
}
.order_ticket_con dd p span{
	margin-left: 35px;
}
#cancel_btn{
	text-decoration: underline;
	cursor: pointer;
}
.zhifu{
	width: 1200px;
	background: #fff;
	padding: 25px 0 20px 0;
	overflow: hidden;
	display: none;
}
.zhifu dt{
	width: 65px;
	float: left;
	padding-left: 780px;
	color: #555;
	line-height: 35px;
}
.zhifu dd{
	width: 355px;
	float: left;
}
.zhifu dd .error_text{
	overflow: hidden;
	color: #db2424;
	margin-top: 5px;
	display: none;
}
.zhifu dd .error_text b{
	width: 14px;
	height: 14px;
	display: inline-block;
	margin-right: 5px;
	background-position: -330px 0;
	vertical-align: -2px;
}
.zhifu_inp{
	width: 240px;
	padding-left: 10px;
	border: #d6d6d6 1px solid;
	height: 33px;
}
.forget_mm{
	color: #888;
	text-decoration: underline;
	margin-left: 10px;
}
.account{
	width: 1200px;
	overflow: hidden;
	background: #fbfbfb;
	padding: 10px 0 30px 0;
	color: #999;
}
.account dl{
	overflow: hidden;
	line-height: 30px;
	width: 100%;
}
.account dl span{
	color: #db2525;
	font-size: 18px;
	font-weight: bold;
}
.account dl span.g{
	margin: 0 3px;
	font-family: Arial;
}
.account dt{
	width: 1035px;
	float: left;
	text-align: right;
}
.account dd{
	width: 140px;
	float: left;
	text-align: right;
	padding-right: 25px;
	color: #555;
	font-size: 14px;
	font-family: Arial;
}
.account dd em{
	font-style: normal;
	font-size: 24px;
}
.account p{
	width: 1175px;
	overflow: hidden;
	padding-right: 25px;
	text-align: right;
	line-height: 20px;
}
.account p span{
	margin-left: 15px;
}
.account p.ml{
	margin-top: 5px;
}
#submit_btn{
	width: 140px;
	height: 50px;
	color: #fff;
	background: #db2424;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	margin: 20px 25px 0px 1035px;
}
#fix_con{
	width: 1200px;
	height: 60px;
	line-height: 60px;
	color: #555;
	background: #e2e2e2;
	position: fixed;
	bottom: 0;
	z-index: 999;
}
#fix_con .text{
	padding-left: 25px;
	width: 750px;
	float: left;
	overflow: hidden;
	font-family: 宋体;
}
#fix_con .text span{
	margin-left: 13px;
}
#fix_con .money{
	width: 260px;
	float: left;
	text-align: right;
	font-family: 宋体;
}
#fix_con .money span{
	font-size: 18px;
	color: #db2525;
	font-weight: bold;
	font-family: "Microsoft YaHei";
}
#fix_con .money em{
	font-size: 24px;
    font-style: normal;
	font-family: Arial;
}
#submit_go{
	width: 120px;
	height: 60px;
	color: #fff;
	background: #db2424;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	float: right;
}

._citys { width: 338px; display: inline-block; border: 1px solid #c7c7c7; position: relative; background: #fff; margin-top: -1px;}
._citys span { color: #56b4f8; height: 15px; width: 15px; line-height: 15px; text-align: center; border-radius: 3px; position: absolute; right: 10px; top: 10px; border: 1px solid #56b4f8; cursor: pointer; }
._citys0 { width: 339px; height: 34px; display: inline-block; padding: 0; margin-left: -1px; background: #f1f1f1;}
._citys0 li { display: inline-block; line-height: 34px; border-bottom: 1px solid #c7c7c7; border-left: 1px solid #c7c7c7; font-size: 14px; color: #666; width: 80px; text-align: center; cursor: pointer; width: 112px; float: left;}
._citys0 li.citySel { background-color: #fff; border-bottom: 1px solid #fff;}
._citys1 { width: 328px; display: inline-block; padding: 10px 0 5px 10px; font-family:宋体;}
._citys1 a { width: 65px; height: 30px; display: inline-block; color: #666; cursor: pointer; line-height: 30px; text-align: left; font-size: 12px; overflow: hidden; }
._citys1 a:hover { color: #db2424; }
._citys1 a.AreaS {color: #db2424;}

/* pop_adr */
#pop_adr{
	width: 940px;
	height: 494px;
	background: #fff;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -500px;
	margin-top: -272px;
	overflow: hidden;
	z-index: 10000;
	padding: 20px 30px 30px;
	display: none;
}
#pop_adr h2{
   font-size: 14px;
   position: relative;
   line-height: 20px;
   margin-bottom: 25px;
}
#pop_close{
	width: 19px;
	height: 19px;
	position: absolute;
	top: 0px;
	right: 0;
	cursor: pointer;
	background-position: -506px -1px;
}
#pop_adr dl{
	width: 940px;
	margin-bottom: 15px;
}
#pop_adr dl.m{
	margin-bottom: 10px;
}
#pop_adr dt{
	width: 110px;
	float: left;
	text-align: right;
	line-height: 35px;
	overflow: hidden;
	font-size: 14px;
	color: #444;
}
#pop_adr dd{
	width: 820px;
	float: left;
	text-align: left;
	padding-left: 10px;
}