@charset "utf-8";
/* CSS Document */
@media screen and (max-width: 1200px){
	.medical_store{width:1000px;}
	.medical_store ul{width:1012px; margin-left:-12px;}
	.medical_store ul li{margin-left:13px;}
	.hide{display:none;}
}

