@charset "utf-8";
/* bg */
#shopcart_header .pic,.custom0-checkbox label,.custom0-checkbox label.checked,.custom01-checkbox label,.custom01-checkbox label.checked,.touch,.sub_num,.add_num,.sub_num_dis,.add_num_dis,.sp_sales_pic,.pay_btn,.custom02-checkbox label,.custom02-checkbox label.checked,.custom03-checkbox label,.custom03-checkbox label.checked,#del_cp,#del_cp_con .del_close,#del_cp_con .quxiao,#del_cp_con .queding,.shopcart_no .car_bg,.shopcart_no_con .xsp,.shopcart_no_con .kdd,.disable_pc,.shopcart_con .zhen,.shopcart_con .zheng,.shopcart_con .jian,.shopcart_con table tr.disable .zhen,.shopcart_con table tr.disable .zheng,.shopcart_con table tr.disable .jian{background:url(../images/shopcart_bg.png) no-repeat; overflow:hidden;}
.mr{margin-right:10px;}
.mt{margin-top:5px;}



/* shopcart_header */
#shopcart_header{width:1000px; margin:0px auto;}
#shopcart_header h1{float:left; width:112px; height:58px; margin:9px 0px 15px 0px; overflow:hidden;}
#shopcart_header .tit{width:151px; float:left; height:37px; overflow:hidden; margin:31px 0px 0px 40px;}
#shopcart_header .pic{width:453px; float:right; height:35px; background-position:0px -56px; margin-top:31px;}


/* shopcart */
.shopcart{width:100%; background:url(../images/shopcart_line.jpg) repeat-x top; }
.shopcart_text{width:980px; margin:0px auto; line-height:24px; color:#666; font-size:14px; padding:20px 0px 15px 20px; overflow:hidden;}

/* shopcart_tit */
.shopcart_tit{width:1000px; height:30px; background:#343434; margin:0px auto; color:#fff; line-height:30px;}
.shopcart_tit ul li{width:115px; padding-left:20px; float:left; overflow:hidden;}
.shopcart_tit ul li.x{width:340px;}
.shopcart_tit ul li.j{width:105px; padding-left:0px; text-align:center;}
.shopcart_tit ul li.c{width:60px;}
.shopcart_tit ul li.d{width:110px; padding-left:0px;}
.shopcart_tit ul li.q{width:110px; padding-left:0px; text-align:center;}
.shopcart_tit ul li.e{width:100px; padding-left:0px; text-align:center;}

/* shopcart_con */
.shopcart_con{width:1000px; margin:0px auto; overflow:hidden;}
.shopcart_con table{border-top:#ccc 1px solid; border-left:#ccc 1px solid; border-right:#ccc 1px solid; margin:20px 0px 10px; width:1000px;}
.shopcart_con table td{border-bottom:#ccc 1px solid; line-height:30px; color:#343434; height:120px;}
.shopcart_con table td a{color:#343434;}
.shopcart_con .tit{height:33px; background:#f8f8f8; line-height:33px; padding-left:19px; border-top:#fff 1px solid; position:relative;}
.shopcart_con .tit a{color:#343434;}
.shopcart_con .w1{width:60px;}
.shopcart_con .w2{width:300px;}
.shopcart_con .w3{width:130px; padding-left:10px;}
.shopcart_con .w4{width:80px; padding-left:10px;}
.shopcart_con .w5{width:100px; padding-left:10px; }
.shopcart_con .w8{width:100px;}
.shopcart_con .w6{width:80px; padding-left:10px; font-size:14px; font-weight:bold; color:#f93000;}
.shopcart_con .w7{width:100px; text-align:center;}
.shopcart_con .old_p{font-size:14px; color:#8d8d8d; text-decoration:line-through;}
.shopcart_con .now_p{font-size:14px;}
.touch{width:16px; height:16px; display:inline-block; background-position:-74px -138px; margin-left:13px; vertical-align:-5px;}


.shopcart_con .zhen{width:16px; height:16px; background-position:-286px 0px; margin-right:7px; display:inline-block;}
.shopcart_con .zheng{width:16px; height:16px; background-position:-309px 0px; margin-right:7px; display:inline-block;}
.shopcart_con .jian{width:16px; height:16px; background-position:-263px 0px; margin-right:7px; display:inline-block;}
.shopcart_con table tr.disable .zhen{width:16px; height:16px; background-position:-286px -22px; margin-right:7px; display:inline-block;}
.shopcart_con table tr.disable .zheng{width:16px; height:16px; background-position:-309px -22px; margin-right:7px; display:inline-block;}
.shopcart_con table tr.disable .jian{width:16px; height:16px; background-position:-263px -22px; margin-right:7px; display:inline-block;}

.shopcart_con table tr.disable td{background:#f3f3f3; color:#7c7c7c;}
.shopcart_con table tr.disable a{color:#7c7c7c;}
.shopcart_con table tr.disable .w6{color:#7c7c7c;}
.disable_pc{width:23px; height:23px; background-position:-394px 0px; display:block; margin-left:19px;}


/* shopcart_cp */
.shopcart_cp{width:300px; margin:25px 0px; overflow:hidden;}
.shopcart_cp dt{width:70px; float:left;}
.shopcart_cp dt img{width:70px; height:70px;}
.shopcart_cp dd{padding:0px 20px 0px 20px; width:190px; float:left; line-height:24px;}

.shopcart_cp dd .th{height:48px;}


/* custom0-checkbox */
.custom0-checkbox{position:relative; display:inline-block; width:19px;}
.custom0-checkbox input{position:absolute; top:0px; left:-39px;}
.custom0-checkbox label{cursor:pointer; background-position:-781px -1px; width:19px; height:18px; display:inline-block; position:absolute; top:-53px; left:39px; z-index:2;}
.custom0-checkbox label.checked{background-position:-781px -24px;} 


/* custom01-checkbox */
.custom01-checkbox{position:relative; width:70px; display:inline-block; }
.custom01-checkbox input{position:absolute; top:0px; left:-99px;}
.custom01-checkbox label{cursor:pointer; background-position:-781px -1px; height:18px; display:inline-block; padding-left:20px; position:absolute; left:0px; bottom:-1px; z-index:2; line-height:24px;}
.custom01-checkbox label.checked{background-position:-781px -24px;}

/* custom02-checkbox */
.custom02-checkbox{position:relative; display:inline-block; width:19px;}
.custom02-checkbox input{position:absolute; top:0px; left:-99px;}
.custom02-checkbox label{cursor:pointer; background-position:-781px -1px; width:19px; height:18px; display:inline-block; position:absolute; left:0px; bottom:-1px; z-index:2; line-height:24px;}
.custom02-checkbox label.checked{background-position:-781px -24px;}

/* custom03-checkbox */
.custom03-checkbox{position:relative; width:70px; display:block; height:18px; margin-top:3px;}
.custom03-checkbox input{position:absolute; top:0px; left:-99px;}
.custom03-checkbox label{cursor:pointer; background-position:-781px -58px; height:18px; display:inline-block; padding-left:20px; position:absolute; left:0px; bottom:-1px; z-index:2; line-height:22px;}
.custom03-checkbox label.checked{background-position:-781px -79px;}


/* sp_con */
.sp_con{margin-top:40px; height:80px; display:block;}
.sp_num{width:98px; padding-left:2px; overflow:hidden; }
.sp_sales{width:100px; position:relative; height:80px; margin-top:40px; display:block;}
.sp_sales_pic{width:29px; height:19px; cursor:pointer; background-position:-199px 0px; display:inline-block; margin:3px; }
.sp_sales_con{width:100px; display:none;}
.sp_sales_con .text{height:20px; margin-bottom:6px; line-height:20px; background:#f93000; padding:0px 5px; color:#fff;}

/* sub_num */
.sub_num{width:14px; height:14px; float:left; background-position:0px -167px; cursor:pointer; margin-top:5px;}
.add_num{width:14px; height:14px; float:left; background-position:-29px -167px; cursor:pointer; margin-top:5px;}
.sub_num_dis{background-position:0px -137px; cursor:default;}
.add_num_dis{background-position:-29px -137px; cursor:default;}
.num_inp{width:44px; height:22px; text-align:center; line-height:22px; border:#666 1px solid; float:left; margin:0px 9px; display:inline;}

.sp_jz{width:65px; height:25px; line-height:25px; text-align:center; color:#fff; background:#a48e5c; margin-left:14px; display:block; margin-top:6px;}

.sp_no{width:88px; height:23px; line-height:23px; text-align:center; color:#f74316; border:#f74316 1px solid; margin-left:4px; display:block; margin-top:6px;}


/* shopcart_con0 */
.shopcart_con0{width:100%; margin:10px 0px 0px; overflow:hidden; background:url(../images/shopcart_line0.jpg) repeat-x top; height:176px;}
.shopcart_cz{width:1000px; margin:10px auto 0px; color:#666; overflow:hidden;}

/* shopcart_czl */
.shopcart_czl{width:600px; float:left; line-height:34px;}
.shopcart_czl span{margin:0px 20px; display:inline-block; position:relative;}
.shopcart_czl a{color:#666;}
.shopcart_czr{width:400px; float:right; line-height:27px;}
.shopcart_czr_text{width:400px; text-align:right;}
.total_price{font-size:24px; font-weight:bold; color:#f94115;}
.total_num{color:#f94115;}

/* pay_btn */
.pay_btn{width:179px; height:56px; border:0px; cursor:pointer; background-position:0px -206px;}
.pay_con{width:400px; margin-top:10px; text-align:right;}

/* mask */
#mask{width:100%; background:#000; filter:alpha(opacity:20); opacity:0.20; -moz-opacity:0.20; position:absolute; top:0px; z-index:1000; left:0px; display:none;}

#del_cp{width:390px; height:176px; background-position:-374px -288px; position:fixed; left:50%; top:50%; z-index:1001; margin-left:-195px; margin-top:-88px; }
#del_cp_con{width:366px; height:156px; margin:10px 12px; overflow:hidden; position:relative;}
#del_cp_con .del_close{width:8px; height:8px; position:absolute; top:9px; right:9px; cursor:pointer; background-position:-353px 0px;}
#del_cp_con .del_text{width:366px; margin-top:40px; line-height:27px; font-size:14px; text-align:center;}
#del_cp_con .del_btn{width:227px; margin:20px 69px 0px 70px; overflow:hidden;}
#del_cp_con .quxiao{width:99px; height:32px; display:inline-block; background-position:-458px -206px;}
#del_cp_con .queding{width:99px; height:32px; display:inline-block; background-position:-586px -206px; margin-left:29px;}



/* shopcart_no */
.shopcart_no{width:998px; margin:20px auto 0px; border:#ccc 1px solid; position:relative; height:280px; overflow:hidden;}
.shopcart_no .car_bg{width:150px; height:195px; position:absolute; left:260px; top:40px; background-position:-27px -286px;}
.shopcart_no_con{width:250px; margin:90px 287px 0px 461px; overflow:hidden;}
.shopcart_no_con .text{line-height:33px; font-size:18px; color:#a48e5c; margin-bottom:20px;}
.shopcart_no_con .xsp{width:118px; height:34px; display:inline-block; background-position:-198px -206px;}
.shopcart_no_con .kdd{width:118px; height:34px; display:inline-block; background-position:-330px -206px; margin-left:14px;}

.tishi{color:#f94115; position:absolute; left:0px; top:25px; line-height:24px; width:100px;}

/* shopcart_sale */
.shopcart_sale{width:68px; margin-left:10px; position:relative; height:25px; display:inline-block;}
.shopcart_sale .cc{width:68px; padding-left:8px; line-height:25px; height:25px; background:url(../images/eleven_bg.png) no-repeat 0px -60px; color:#fff; display:inline-block; cursor:pointer;}
.shopcart_sale0{width:335px; height:272px; background:url(../images/eleven_bg.png) no-repeat -112px -60px; position:absolute; left:0px; top:28px; display:none;}
.shopcart_sale0 .tit{width:323px; margin:6px 1px 0px; border-bottom:#dbdbdb 1px solid; height:31px; line-height:31px; padding-left:10px; position:relative; color:#666;}
.shopcart_sale0 .close{width:9px; height:9px; background:url(../images/eleven_bg.png) no-repeat -421px 0px; position:absolute; right:10px; top:10px; cursor:pointer; display:inline-block;}
.shopcart_sale0 .con{width:313px; padding:0px 8px; overflow:hidden; max-height:227px; overflow-y:auto; margin:3px;}
.shopcart_sale0 .con ul li{width:313px; padding:10px 0px; overflow:hidden;}
.shopcart_sale0 .con ul li .quan{width:82px; float:left; text-align:center; color:#fff; font-size:16px; height:25px; background:url(../images/eleven_bg.png) no-repeat -527px 0px; line-height:25px;}
.shopcart_sale0 .con ul li .dis{background:url(../images/eleven_bg.png) no-repeat -527px -35px;}
.shopcart_sale0 .con ul li .txt{width:148px; padding:0px 10px; line-height:13px; color:#6d6d6d; float:left;}
.shopcart_sale0 .con ul li .dash{color:#a5a5a5;}
.shopcart_sale0 .con ul li .get{width:46px; height:23px; border:#ddd 1px solid; line-height:23px; text-align:center; color:#6d6d6d; float:left;}