@charset "utf-8";
/* CSS Document */

*{padding:0px;margin:0px;}
li{list-style: none;}
img{border: 0;}

#sousuo{width:750px;margin:0 auto;padding:100px 225px 0px 225px;}
#sousuo .logo{margin:0px 0px 0px 262px;width:238px;height:110px;}

.sousuo_box{width: 750px;padding-top: 45px;}
.sousuo_box .sousuo_out{width: 742px;height: 38px;border: 4px solid #A48E5C;border-radius:2px;}


/*sousuo_len*/
.sousuo_len{float:left;width: 72px;height: 23px;line-height: 23px;padding: 8px 0px 7px 0px;position: relative;cursor: pointer;}
.sousuo_len span{font-size: 14px;font-family: 宋体;color: #333;font-weight: 700;display:inline-block;padding-left: 18px;}

.sousuo_len .sousuo_ico{width: 9px;height: 5px;background: url(../images/sousuo_bg.png) no-repeat 0px 0px;position: absolute;top: 18px;right: 9px;}

.len_con{display:none;width: 79px;height: 70px;background: url(../images/sousuo_len_bg_0.png) no-repeat 0px 0px;position: absolute;top: 28px;left: -4px;}
.len_con ul{position: absolute;top: 9px;left:0px;width: 79px;}
.len_con ul li{height: 30px;line-height: 30px;text-align: center;font-size: 12px;font-family: 宋体;color: #333;font-weight: 700;cursor: pointer;}
.len_con ul li:hover{background: #D5D5D5;}




/*sousuo_right*/
.sousuo_right{float: left;width:669px;height: 23px;margin: 8px 0px 7px 0px;border-left: 1px solid #A48E5C;}
.sousuo_input{padding-left: 12px;width: 551px;height: 23px;line-height: 23px;border:0;font-size: 14px;font-family: 宋体;color: #666;}

.form{position: relative;}
.hide{display:none;width: 562px;border: 1px solid #CCCCCC;border-top: 0px;background: #fff;position: absolute;top: 30px;left: 0px;}
.hide ul li{width: 550px;font-size: 14px;font-family: 宋体;color: #333;height: 32px;line-height: 32px;padding-left: 12px;}
.hide ul li:hover{background: #EEEEEE;}
.button{width: 110px;height: 46px;background: url(../images/sousuo_button.png) no-repeat 0px 0px;border: 0;position: absolute;top:-12px;right: -5px;cursor: pointer;}


/*bang*/
.bang{width: 748px;margin-top: 27px;border: 1px solid #E6E6E6;overflow: hidden;background: #FAFAFA;}
.bang .grow,.bang .hot,.bang .more{width: 237px;padding:25px 0px 0px 11px;float: left;padding-bottom: 40px;}
.bang .grow,.bang .hot{border-right: 1px solid #E6E6E6;}
h5{color: #f76321;font-size: 12px;font-family: 宋体;padding-bottom: 11px;}
h5 i{background:  url(../images/sousuo_bg.png) no-repeat;display: inline-block;width: 15px;height: 14px;vertical-align: middle;}
.bang .grow h5 i.icon{background-position:-18px 0px;}
.bang .hot h5 i.icon{background-position:-40px 0px;}
.bang .more h5 i.icon{background-position:-62px 0px;}
.bang .more h5 .mor{width: 5px;height: 8px;background: url(../images/sousuo_bg.png) -83px 0px;display: inline-block;margin-left: 5px;}

.ul li{height: 25px;line-height: 25px;}
.ul li i{float:left;font-style: normal;width: 15px;color:#999999;font-family: Arial;font-size: 12px;padding-left: 5px;}
.ul li i.first{color:#F76321;}
.ul li a{float:left;text-decoration: none;color: #0000ee;font-size: 12px;font-family: 宋体;}
.ul li a:hover{text-decoration: underline;}

.bang .more .ul li{padding-left: 20px;height: 20px;line-height: 20px;width: 84px;float: left;}



/*footer*/
.footer{width: 750px;font-size: 12px;font-family: 宋体;color: #999999;text-align: center;margin-top: 18px;}
.footer i{font-family: Arial;}
